<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

</head>

<body bgcolor="black">

    <div class="text">
        <img src="../static/images/yogtext.svg" alt="" height="100px" width="150px">
    </div>

    <main>

        <div class="yogbout">
            <div class="text2">
                <p class="union">Yoga to union</p>

                <div class="subtext">
                    <div class="border">

                        <p> "Alleviate stress and anxiety, experience inner
                            calm and uncover your true self with
                            Yoga. </p>

                    </div>
                </div>

            </div>

            <div class="imag">

                <img src="../static/images/yog.svg" alt="" height="100%" width="100%">

            </div>

        </div>


        <div class="nextsec">
            <img src="../static/images/lotus.svg" alt="" height="120px" width="300px">

        </div>


        <div class="formsec">

            <div class="sidef"><img src="../static/images/formside.svg" alt="" width="100%" height="100%"></div>

            <div class="form_outer_div">
                <center><div style="margin-top: 10vh;"><h1>Login</h1></div></center>
                <h2 id="show_error">{{error}}<h2>
                        <form action="/login/" method="post">
                            {% csrf_token %}

                            <input type="email" placeholder="Email" id="email" name="email" required>
                            <input type="password" placeholder="Enter Password" id="password" name="pass" required>
                            <button class="login" type="submit" id="enroll">Login</button>

                        </form>

                        <hr>
                        <p >New  here ? <a href="/registration/">
                                <i>Register</i></a> </p>

            </div>

        </div>



    </main>

    <script src="../static/js/index.js"></script>

</body>

</html>